* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Montserrat;
}
a, a:hover {
	color: #E86C0C;
		text-decoration: none;
	}
body, html {
	height: 100%;
	width: 100%;
}
.header {
	background-color: #2B2C36;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 24px;
}
.con-header {
	align-items: center;
}
.header h1 {
	font-size: 48px;
	color: #fff;
}
.header h1 small {
	font-size: 12px;
	color: rgba(230, 230, 230, .8);
}
.header hr {
	margin: auto;
	border: none;
	width: 25px;
	border-bottom: 1px solid rgba(230, 230, 230, .8);
	margin-top: 15px;
	margin-bottom: 15px;
}
.header .img-angular img {
	width: 50px;
}
.header .img-three img {
	width: 70px;
}
.header span {
	color: rgba(230, 230, 230, 1);
}
.content {
	width: 100%;
	display: block;
	float: left;
	margin: -15px;
	padding-top: 30px;
	padding-bottom: 60px;
}
.row {
	width: 100%;
	display: block;
	float: left;
	margin: 15px;
}
.container {
	width: 50%;
	display: block;
	float: left;
	padding: 15px;
	margin: -15px;
}
.offset {
	width: 25%;
	display: block;
	float: left;
	padding: 15px;
}
.content h2 {
	margin-bottom: 20px;
}
.content p {
	margin-bottom: 5px;
	text-align: justify;
}
footer {
	display: block;
	width: 100%;
	float: left;
	border-top: 15px solid rgba(180, 180, 180, .8);
	height: 85px;
	background-color: rgba(230, 230, 230, 1);
}
.con-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.line-through {
	text-decoration: line-through;
}

ul li {
	list-style: none;
}

section.ng-three.view {
	width: calc(50% - 6px);
	display: block;
	float: left;
	margin: 0;
	margin-left: 6px;
}
section.ng-three.view:first-of-type {
	margin-left: 0px;
	margin-right: 6px;
}

@media (max-width: 926px) {
	.offset {
		display: none;
	}
	.container {
		width: 100%;
	}
	section.ng-three.view {
		width: 100%;
		margin: 0;
		margin-bottom: 15px;
	}
}
